*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
    transition:0.3s;
}

.container{
    width:90%;
    max-width:900px;
    margin:30px auto;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

#themeBtn{
    padding:10px 15px;
    border:none;
    cursor:pointer;
    border-radius:8px;
    margin-bottom:20px;
}

.form{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}

.form input,
.form select{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.form button{
    padding:12px 20px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

#search{
    width:100%;
    padding:12px;
    margin:15px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

ul{
    list-style:none;
}

li{
    background:white;
    margin:10px 0;
    padding:12px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

li button{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

canvas{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:10px;
}

/* Dark Mode */

body.dark{
    background:#121212;
    color:white;
}

body.dark input,
body.dark select,
body.dark button{
    background:#2b2b2b;
    color:white;
    border:1px solid #555;
}

body.dark li{
    background:#2b2b2b;
}

body.dark canvas{
    background:#2b2b2b;
}